<h2>Four States</h2>
<label>Success</label>
<div class="alert alert-success">
    <strong>Success!</strong> You successfully read this important alert message.
</div>
<label>Info</label>
<div class="alert alert-info">
    <strong>Info!</strong> This alert needs your attention, but it's not super important.
</div>
<label>Warning</label>
<div class="alert alert-warning">
    <strong>Warning!</strong> Best check yo self, you're not looking too good.
</div>
<label>Danger</label>
<div class="alert alert-danger">
    <strong>Danger!</strong> Change a few things up and try submitting again.
</div>
<h2>Dismissable</h2>
<div class="alert alert-danger fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4>Oh snap! You got an error!</h4>
    <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
</div>
<h2>With Buttons</h2>
<div class="alert alert-danger fade in">
    <h4>Oh snap! You got an error!</h4>
    <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
    <p>
        <button type="button" class="btn btn-danger">Take this action</button>
        <button type="button" class="btn btn-default">Or do this</button>
    </p>
</div>
<h2>Dismissable w/btns</h2>
<div class="alert alert-danger fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4>Oh snap! You got an error!</h4>
    <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
    <p>
        <button type="button" class="btn btn-danger">Take this action</button>
        <button type="button" class="btn btn-default">Or do this</button>
    </p>
</div>

<h2>With Buttons as call to action</h2>
<div class="alert alert-info clearfix">
    <strong>New Feature:</strong> Earn extra yearbook income through <a href="#newFeature" id="newFeatureLinkInline" class="alert-link">online advertisements in ReplayIt</a>.<a href="#newFeature" id="newFeatureLinkBtn" class="btn btn-default btn-sm pull-right alert-btn">Check it Out</a>
</div>
