<!-- Button trigger modal -->
<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Launch demo modal</a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Bacon ipsum dolor sit amet doner biltong salami, andouille pastrami chuck drumstick pork tongue tenderloin pancetta flank.  Pastrami capicola shank leberkas beef.  Bacon pork loin spare ribs strip steak filet mignon.  Tongue hamburger prosciutto beef ribs short loin bacon.</p>
                <p>Ball tip bacon turducken shank drumstick pancetta prosciutto.  Pig meatball doner tail, chicken shank andouille fatback bacon hamburger sausage pork belly t-bone swine.  Doner short loin corned beef andouille pastrami tenderloin fatback cow ham hock.  Biltong boudin doner cow pork loin bacon jerky capicola t-bone meatball.  Jerky pork belly tenderloin pork boudin pig leberkas kevin spare ribs sirloin tri-tip cow doner short ribs pastrami.  Capicola pork loin salami, bacon beef ground round bresaola t-bone chicken tail sausage beef ribs.  Cow sausage beef, shoulder bacon tail strip steak tri-tip chuck filet mignon fatback.</p>
                <p>Prosciutto pastrami tri-tip sausage drumstick jowl.  Venison turkey bresaola flank ribeye drumstick chuck.  Boudin ball tip bacon ham hock pork belly chicken.  Filet mignon venison ground round tail chicken.  Pork chop sirloin biltong brisket ground round ribeye boudin corned beef pork.</p><p>Prosciutto ham hock pork loin leberkas.  Strip steak chuck short ribs, drumstick leberkas beef hamburger filet mignon beef ribs frankfurter sausage t-bone pig pastrami spare ribs.  Andouille cow bresaola fatback pork belly flank turducken.  Pork chicken swine prosciutto cow ham.</p>
                <p>Tail bacon leberkas meatloaf pastrami shoulder beef spare ribs rump cow jowl pork doner.  Jowl flank jerky salami frankfurter meatball.  Pancetta ham hock pastrami, short loin ground round prosciutto tri-tip boudin.  Pork loin beef ribs t-bone, fatback pork chop frankfurter tail filet mignon.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->