<div class="col-sm-12">
    <h3>Full Width</h3>
    <div class="navbar navbar-default navbar-toolbar">
        <ul class="nav navbar-nav ">
            <li><a href="#"><span class="glyphicons ok"></span> Task 1</a></li>
            <li><a href="#"><span class="glyphicons plus"></span> Task 2</a></li>
            <li><a href="#"><span class="glyphicons print"></span> Task 3</a></li>
        </ul>
    </div>
</div>
<div class="col-sm-6">
    <h3>col-sm-6</h3>
    <div class="navbar navbar-default navbar-toolbar">
        <ul class="nav navbar-nav ">
            <li><a href="#"><span class="glyphicons ok"></span> Task 1</a></li>
            <li><a href="#"><span class="glyphicons plus"></span> Task 2</a></li>
            <li><a href="#"><span class="glyphicons print"></span> Task 3</a></li>
        </ul>
    </div>
</div>
<div class="col-sm-6">
    <h3>col-sm-6</h3>
    <div class="navbar navbar-default navbar-toolbar">
        <ul class="nav navbar-nav ">
            <li><a href="#"><span class="glyphicons ok"></span> Task 1</a></li>
            <li><a href="#"><span class="glyphicons plus"></span> Task 2</a></li>
            <li><a href="#"><span class="glyphicons print"></span> Task 3</a></li>
        </ul>
    </div>
</div>


