<h1>Bootstrap heading 1</h1>
<h2>Bootstrap heading 2</h2>
<h3>Bootstrap heading 3</h3>
<h4>Bootstrap heading 4</h4>
<h5>Bootstrap heading 5</h5>
<h6>Bootstrap heading 6</h6>
<hr>
<h2 id="body-copy">Body Copy</h2>
<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
<hr>
<h2 id="lead-copy">Lead body copy</h2>
<p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
<hr>
<h2 id="emphasis">Emphasis</h2>
<h3>Special treatment</h3>
<small>This line of text is meant to be treated as fine print</small>
<p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
<p>The following snippet of text is <em>rendered as italicized text</em>.</p>
<h3>Alignment Classes</h3>
<p class="text-left">Left aligned text.</p>
<p class="text-center">Center aligned text.</p>
<p class="text-right">Right aligned text.</p>
<h3>Emphasis Classes</h3>
<p class="text-muted"><em>Muted:</em> Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
<p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
<p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
<p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
<p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
<p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
<hr>
<h2 id="abbreviations">Abbreviations</h2>
<h3>Basic Abbreviation</h3>
<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
<h3>Initialism</h3>
<p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr> is the best thing since sliced bread.</p>
<hr>
<h2 id="addresses">Addresses</h2>
<address>
    <strong>Twitter, Inc.</strong><br>
    795 Folsom Ave, Suite 600<br>
    San Francisco, CA 94107<br>
    <abbr title="Phone">P:</abbr><span> <span id="gc-number-0" class="gc-cs-link" title="Call with Google Voice">(123) 456-7890</span>
      </span></address>
<address>
    <strong>Full Name</strong><br>
    <a href="mailto:#">first.last@example.com</a>
</address>
<hr>
<h2 id="blockquotes">Blockquotes</h2>
<h3>Default Blockquote</h3>
<blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>
<h3>Naming a Source</h3>
<blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <small>Someone famous <cite title="Source Title">Source Title</cite></small>
</blockquote>
<h3>Alternate Displays</h3>
<blockquote class="pull-right">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <small>Someone famous <cite title="Source Title">Source Title</cite></small>
</blockquote>
<div class="clearfix"></div>
<hr>
<h2 id="lists">​Lists​</h2>
<div class="col-sm-4">
    ​<h3>​Unordered​</h3>​
    <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
        <li>Nulla volutpat aliquam velit
            <ul>
                <li>Phasellus iaculis neque</li>
                <li>Purus sodales ultricies</li>
                <li>Vestibulum laoreet porttitor sem</li>
                <li>Ac tristique libero volutpat at</li>
            </ul>
        </li>
        <li>Faucibus porta lacus fringilla vel</li>
        <li>Aenean sit amet erat nunc</li>
        <li>Eget porttitor lorem</li>
    </ul>
</div>
<div class="col-sm-4">
    ​<h3>​Ordered​</h3>​
    <ol>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
        <li>Nulla volutpat aliquam velit
            <ul>
                <li>Phasellus iaculis neque</li>
                <li>Purus sodales ultricies</li>
                <li>Vestibulum laoreet porttitor sem</li>
                <li>Ac tristique libero volutpat at</li>
            </ul>
        </li>
        <li>Faucibus porta lacus fringilla vel</li>
        <li>Aenean sit amet erat nunc</li>
        <li>Eget porttitor lorem</li>
    </ol>
</div>
<div class="col-sm-4">
    ​<h3>​Unstyled​</h3>​
    <ul class="list-unstyled">
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
        <li>Nulla volutpat aliquam velit
            <ul>
                <li>Phasellus iaculis neque</li>
                <li>Purus sodales ultricies</li>
                <li>Vestibulum laoreet porttitor sem</li>
                <li>Ac tristique libero volutpat at</li>
            </ul>
        </li>
        <li>Faucibus porta lacus fringilla vel</li>
        <li>Aenean sit amet erat nunc</li>
        <li>Eget porttitor lorem</li>
    </ul>
</div>
<div class="clearfix"></div>
​<h3>​Inline​</h3>​
<ul class="list-inline">
    <li>Lorem ipsum dolor sit amet</li>
    <li>Consectetur adipiscing elit</li>
    <li>Integer molestie lorem at massa</li>
</ul>
<h3>Description</h3>
<dl>
    <dt>Description lists</dt>
    <dd>A description list is perfect for defining terms.</dd>
    <dt>Euismod</dt>
    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
    <dt>Malesuada porta</dt>
    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
</dl>
<h3>Horizontal Description</h3>
<dl class="dl-horizontal">
    <dt>Description lists</dt>
    <dd>A description list is perfect for defining terms.</dd>
    <dt>Euismod</dt>
    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
    <dt>Malesuada porta</dt>
    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
    <dt>Felis euismod semper eget lacinia</dt>
    <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
</dl>

{% contentfor notes %}
<!--============ Docs  ============-->

<label>Headings</label>
<p>All HTML headings, <code>h1</code> through <code>h6</code> are available.</p>
<a href="#body-copy">Body Copy</a>
<p>Bootstrap's global default <code>font-size</code> is <strong>14px</strong>, with a <code>line-height</code> of <strong>1.428</strong>. This is applied to the <code>&lt;body&gt;</code> and all paragraphs. In addition, <code>&lt;p&gt;</code> (paragraphs) receive a bottom margin of half their computed line-height (10px by default).</p>
<a href="#lead-copy">Lead Body Copy</a>
<p>Make a paragraph stand out by adding <code>.lead</code>.</p>
<label>Built with Less</label>
<p>The typographic scale is based on two LESS variables in <strong>variables.less</strong>: <code>@font-size-base</code> and <code>@line-height-base</code>. The first is the base font-size used throughout and the second is the base line-height. We use those variables and some simple math to create the margins, paddings, and line-heights of all our type and more. Customize them and Bootstrap adapts.</p>
<a href="#emphasis">Emphasis</a>
<p>Make use of HTML's default emphasis tags with lightweight styles.</p>
<ul>
    <li><strong>Small Text:</strong> For de-emphasizing inline or blocks of text, use the <code>&lt;small&gt;</code> tag to set text at 85% the size of the parent. Heading elements receive their own <code>font-size</code> for nested <code>&lt;small&gt;</code> elements.</li>
    <li><strong>Bold:</strong> For emphasizing a snippet of text with a heavier font-weight.</li>
    <li><strong>Italics:</strong> For emphasizing a snippet of text with italics.</li>
    <li><strong>Alignment Classes:</strong> Easily realign text to components with text alignment classes.</li>
    <li><strong>Emphasis Classes:</strong> Convey meaning through color with a handful of emphasis utility classes.</li>
    <li><strong>Alternate Elements:</strong> Feel free to use <code>&lt;b&gt;</code> and <code>&lt;i&gt;</code> in HTML5. <code>&lt;b&gt;</code> is meant to highlight words or phrases without conveying additional importance while <code>&lt;i&gt;</code> is mostly for voice, technical terms, etc.</li>
</ul>
<a href="#abbreviations">Abbreviations</a>
<p>Stylized implementation of HTML's <code>&lt;abbr&gt;</code> element for abbreviations and acronyms to show the expanded version on hover. Abbreviations with a <code>title</code> attribute have a light dotted bottom border and a help cursor on hover, providing additional context on hover.</p>
<ul>
    <li><strong>Basic Abbreviation:</strong> For expanded text on long hover of an abbreviation, include the <code>title</code> attribute with the <code>&lt;abbr&gt;</code> element.</li>
    <li><strong>Initialism:</strong> Add <code>.initialism</code> to an abbreviation for a slightly smaller font-size.</li>
</ul>
<a href="#addresses">Addresses</a>
<p>Present contact information for the nearest ancestor or the entire body of work. Preserve formatting by ending all lines with <code>&lt;br&gt;</code>.</p>
<a href="#blockquotes">Blockquotes</a>
<p>For quoting blocks of content from another source within your document.</p>
<ul>
    <li><strong>Default Blockquote:</strong> Wrap <code>&lt;blockquote&gt;</code> around any <abbr title="HyperText Markup Language">HTML</abbr> as the quote. For straight quotes we recommend a <code>&lt;p&gt;</code>.</li>
    <li><strong>Naming a Source:</strong> Wrap <code>&lt;blockquote&gt;</code> around any <abbr title="HyperText Markup Language">HTML</abbr> as the quote. For straight quotes we recommend a <code>&lt;p&gt;</code>.</li>
    <li><strong>Alternate Displays:</strong> Use <code>.pull-right</code> for a floated, right-aligned blockquote.</li>
</ul>
<a href="#lists">Lists</a>
<ul>
    <li><strong>Unordered:</strong> A list of items in which the order does <em>not</em> explicitly matter.</li>
    <li><strong>Ordered:</strong> A list of items in which the order <em>does</em> explicitly matter.</li>
    <li><strong>Unstyled:</strong> Remove the default <code>list-style</code> and left margin on list items (immediate children only). <strong>This only applies to immediate children list items</strong>, meaning you will need to add the class for any nested lists as well.</li>
    <li><strong>Inline:</strong> Place all list items on a single line with <code>inline-block</code> and some light padding.</li>
    <li><strong>Description:</strong> Place all list items on a single line with <code>inline-block</code> and some light padding.</li>
</ul>

<!--============ ! Docs  ============-->
{% endcontentfor %}